In [ ]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
# Mount your drive
# Run this cell, then youâ€™ll see a link, click on that link, allow access
# Copy the code that pops up, Paste it in the box, Hit enter

from google.colab import drive
drive.mount('/content/gdrive')

# Change working directory to be current folder
os.chdir('/content/gdrive/My Drive/AIOTS/Intelligence for IoT demo')
!ls

Mounted at /content/gdrive
 AIOTS_demo_healthcare_v2022.html    AIOTS_demo_vision_v2023.ipynb
 AIOTS_demo_healthcare_v2023.ipynb   data
 AIOTS_demo_machine_v2022.html	     edge_time_series_classification.ipynb
 AIOTS_demo_machine_v2023.ipynb     'Urine analysis.ipynb'
 AIOTS_demo_vision_v2022.html

In [ ]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
nRowsRead = 1000 # specify 'None' if want to read whole file

df_4 = pd.read_csv('data/urine/ph_v1_days.csv', delimiter=',', nrows = nRowsRead)
df_4.fillna(0,inplace = True)

In [ ]:
# Remove unnecessary columns
df_4 = df_4.drop(['Date'], axis=1)

# Calculate the average pH level for each food item
pH_cols = [col for col in df_4.columns if 'PH' in col]
df_4['avg_pH'] = df_4[pH_cols].mean(axis=1)
pH_cols

['PH_morning', 'PH_midday', 'PH_evening', 'PH_avg']

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics.pairwise import cosine_similarity

# Normalize the pH levels and food amounts
scaler = MinMaxScaler()
df_norm = pd.DataFrame(scaler.fit_transform(df_4.drop(['avg_pH'], axis=1)), columns=df_4.columns[:-1])
df_norm

,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),Fruit tea,...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,0.218978,0.266436,0.748988,0.283843,0.0,0.0,0.156863,0.833333,0.000000,0.500000,...,0.000000,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
1,0.821168,0.422145,0.717949,0.558952,0.0,1.0,0.156863,0.833333,0.000000,0.500000,...,0.000000,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
2,0.529197,0.439446,0.732794,0.462882,0.0,0.0,0.176471,0.833333,0.000000,0.500000,...,0.000000,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
3,0.197080,0.820069,0.821862,0.589520,0.0,0.0,0.568627,0.833333,0.000000,0.500000,...,0.000000,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
4,0.660584,0.643599,0.705803,0.572052,0.0,1.0,0.274510,0.833333,0.000000,0.500000,...,0.000000,0.0000,1.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,0.554745,0.314879,0.744939,0.436681,0.0,1.0,0.784314,1.000000,0.416667,0.000000,...,0.272727,0.0250,0.0,0.0,0.0,0.0,1.000000,0.0,0.0,0.0
208,0.032847,0.290657,0.796221,0.270742,0.0,0.0,0.901961,1.000000,0.000000,0.416667,...,0.377273,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
209,0.532847,0.401384,0.748988,0.467249,0.0,1.0,0.764706,1.000000,0.000000,0.416667,...,0.272727,0.0000,0.0,0.5,0.0,0.0,0.855072,0.0,0.0,0.0
210,0.193431,0.103806,0.672065,0.122271,0.0,0.0,0.666667,1.000000,0.000000,0.208333,...,0.068182,0.1725,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
211,0.423358,0.325260,0.726046,0.366812,0.0,1.0,0.874510,1.000000,0.416667,0.208333,...,0.204545,0.1375,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [ ]:
# Calculate the cosine similarity between food items
cosine_sim = cosine_similarity(df_norm)
cosine_sim

array([[1.        , 0.52757162, 0.59325148, ..., 0.44386746, 0.36889704,
        0.45431546],
       [0.52757162, 1.        , 0.73961864, ..., 0.55411674, 0.37702678,
        0.61392022],
       [0.59325148, 0.73961864, 1.        , ..., 0.44976775, 0.41985708,
        0.55809238],
       ...,
       [0.44386746, 0.55411674, 0.44976775, ..., 1.        , 0.61852906,
        0.70218242],
       [0.36889704, 0.37702678, 0.41985708, ..., 0.61852906, 1.        ,
        0.6971804 ],
       [0.45431546, 0.61392022, 0.55809238, ..., 0.70218242, 0.6971804 ,
        1.        ]])

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score
# Recommend top N similar food items
food_index = df_4.index[df_4['avg_pH'] > 6.8]
food_sim = cosine_sim[food_index]
food_sim_sorted = food_sim.argsort()[:, ::-1]
# for i in range(len(food_index)):
#     print(f'Food item {food_index[i]}:')
#     print(df_4.loc[food_index[i], ['Red wine', 'Bread', 'Zucchini Fritters']])
#     print(f'Top 3 similar food items:')
#     top_sim = food_sim_sorted[i, 1:4]
#     for j in top_sim:
#         print(df_4.loc[j, ['Red wine', 'Bread', 'Zucchini Fritters']])

,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),Fruit tea,...,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly,avg_pH
0,5.41,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.4025
1,7.06,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0275
2,6.26,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.8125
3,5.35,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,600.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0975
4,6.62,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,600.0,...,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,6.33,5.39,5.52,5.75,0.0,1.0,2900,300.0,250.0,0.0,...,10.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0,5.7475
208,4.90,5.32,5.90,5.37,0.0,0.0,3200,300.0,0.0,500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.3725
209,6.27,5.64,5.55,5.82,0.0,1.0,2850,300.0,0.0,500.0,...,0.0,0.0,60.0,0.0,0.0,59.0,0.0,0.0,0.0,5.8200
210,5.34,4.78,4.98,5.03,0.0,0.0,2600,300.0,0.0,250.0,...,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0325
211,5.97,5.42,5.38,5.59,0.0,1.0,3130,300.0,250.0,250.0,...,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.5900

ModuleNotFoundError: ignored

In [ ]:
import pandas as pd
import numpy as np
from scipy.sparse.linalg import svds
nRowsRead = 1000 # specify 'None' if want to read whole file

df = pd.read_csv('data/urine/ph_v1_days.csv', delimiter=',', nrows = nRowsRead)
df.fillna(0,inplace = True)

In [ ]:
# Calculate the mean pH for each food item
mean_pH = df.iloc[:, 6:].mean()
# print the mean pH for each food item
print(mean_pH)

Gym                    0.292453
Liquid              2048.962264
Lemon water          229.716981
Tea(black/green)      34.905660
Fruit tea            527.759434
                       ...
Candies                5.349057
Halva                  1.688679
Marshmallow            0.353774
Red caviar             1.433962
Jelly                  2.981132
Length: 93, dtype: float64

In [ ]:
# Create a pivot table to represent the data in the format required for cosine similarity
pivoted = df.pivot_table(index="Liquid", columns=mean_pH, values='PH_avg')
pivoted

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Define a function to recommend food items based on pH level
def recommend_foods(ph_level, df):
    # Calculate the mean pH for each food item
    food_phs = df.iloc[:, 6:].mean()
    
    # Determine which food items are associated with low or high pH levels
    low_phs = food_phs[food_phs < ph_level].index.tolist()
    high_phs = food_phs[food_phs > ph_level].index.tolist()
    
    # Return the recommended food items
    if ph_level < 7:
        return high_phs
    else:
        return low_phs

In [ ]:
recommend_foods(6.8,df)

['Liquid',
 'Lemon water',
 'Tea(black/green)',
 'Fruit tea',
 'Water',
 'Latte',
 'Mineral water (Esentuki - 4)',
 'Mineral water (Borjomi)',
 'Mineral water (Prolom)',
 'Red wine',
 'White wine',
 'Beer',
 'Morse',
 'Orange juice',
 'Oatmeal',
 'Pizza with meat',
 'Scrambled eggs',
 'Mayonnaise salad',
 'Bread',
 'Meat',
 'Sushi',
 'Cheese',
 'Curd',
 'Noodles with shrimp',
 'Meat pilaf',
 'Meatless pilaf',
 'Potato dumplings',
 'Zucchini Fritters',
 'Fried potatoes',
 'Braised Potatoes',
 'Mashed potatoes',
 'Patty with cabbage',
 'Curd Pie',
 'The nuts',
 'Pumpkin seeds',
 'Dried apricots',
 'Vegetable salad',
 'Apple',
 'Peach',
 'Melon',
 'Plum',
 'Tangerines',
 'Pear',
 'Watermelon',
 'Banana',
 'Ice cream',
 'Cookie',
 'Cake',
 'Croissant']