# Workshop: **Urine analysis**


Contact: phyuphyuthein

Email: e0457806@u.nus.edu.sg


[Dataset] The dataset and the reference code are from https://www.kaggle.com/code/kerneler/starter-measurements-of-urine-ph-6e5c2fed-5

In [22]:
from sklearn.preprocessing import StandardScaler
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [25]:
df_cat = df1
df_cat.loc[df1['PH_morning'] < 6.4 ,'PH_morning'] = 0
#df_cat.loc[(df1['PH_morning'] >= 6.4) & (df1['PH_morning'] < 6.8), 'PH_morning'] = 1
df_cat.loc[df1['PH_morning'] >= 6.4 ,'PH_morning'] = 1
#df_cat = df1[[col for col in df1 if df1[col].nunique() > 1]] # keep columns where there are more than 1 unique values
df_cat.fillna(0,inplace = True)
df_cat

,Date,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,06.09.2017,0.0,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07.09.2017,1.0,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08.09.2017,0.0,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09.09.2017,0.0,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.09.2017,1.0,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,...,0.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,01.04.2018,0.0,5.39,5.52,5.75,0.0,1.0,2900,300.0,250.0,...,60.0,10.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0
208,02.04.2018,0.0,5.32,5.90,5.37,0.0,0.0,3200,300.0,0.0,...,83.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,03.04.2018,0.0,5.64,5.55,5.82,0.0,1.0,2850,300.0,0.0,...,60.0,0.0,0.0,60.0,0.0,0.0,59.0,0.0,0.0,0.0
210,04.04.2018,0.0,4.78,4.98,5.03,0.0,0.0,2600,300.0,0.0,...,15.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,05.04.2018,0.0,5.42,5.38,5.59,0.0,1.0,3130,300.0,250.0,...,45.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
from sklearn.model_selection import train_test_split

y = df_cat['PH_morning']
X = df_cat.iloc[:,6:100]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.6, random_state=42)
y_train

64     1.0
44     0.0
138    0.0
40     0.0
123    0.0
      ...
106    1.0
14     0.0
92     1.0
179    0.0
102    0.0
Name: PH_morning, Length: 84, dtype: float64

In [27]:
# import the model from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# we choose k = 3 here, due to the small number of data we have
# there isn't a k suitable for all. Generally we want to choose a small odd number.
# large k is generally more costy
knn_model = KNeighborsClassifier(n_neighbors = 3) 

knn_model.fit(X_train, y_train) # train our model to the data set we have. The training set is all the data points
y_pred = knn_model.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.59375

In [28]:
# import the model from sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
# we choose k = 3 here, due to the small number of data we have
# there isn't a k suitable for all. Generally we want to choose a small odd number.
# large k is generally more costy
knn_model = KNeighborsClassifier(n_neighbors = 3) 

knn_model.fit(X_train, y_train) # train our model to the data set we have. The training set is all the data points
y_pred = knn_model.predict(X_test)

In [29]:
df_cat

,Date,PH_morning,PH_midday,PH_evening,PH_avg,Ailment,Gym,Liquid,Lemon water,Tea(black/green),...,Cookie,Cake,Bun,Croissant,Chocolate,Candies,Halva,Marshmallow,Red caviar,Jelly
0,06.09.2017,0.0,5.25,5.55,5.40,0.0,0.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,07.09.2017,1.0,5.70,5.32,6.03,0.0,1.0,1300,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,08.09.2017,0.0,5.75,5.43,5.81,0.0,0.0,1350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,09.09.2017,0.0,6.85,6.09,6.10,0.0,0.0,2350,250.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10.09.2017,1.0,6.34,5.23,6.06,0.0,1.0,1600,250.0,0.0,...,0.0,0.0,150.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,01.04.2018,0.0,5.39,5.52,5.75,0.0,1.0,2900,300.0,250.0,...,60.0,10.0,0.0,0.0,0.0,0.0,69.0,0.0,0.0,0.0
208,02.04.2018,0.0,5.32,5.90,5.37,0.0,0.0,3200,300.0,0.0,...,83.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
209,03.04.2018,0.0,5.64,5.55,5.82,0.0,1.0,2850,300.0,0.0,...,60.0,0.0,0.0,60.0,0.0,0.0,59.0,0.0,0.0,0.0
210,04.04.2018,0.0,4.78,4.98,5.03,0.0,0.0,2600,300.0,0.0,...,15.0,69.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
211,05.04.2018,0.0,5.42,5.38,5.59,0.0,1.0,3130,300.0,250.0,...,45.0,55.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# Train a random forest classifier
clf = RandomForestClassifier(n_estimators=100, random_state=42)
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

In [31]:
# Create a DataFrame with the dietary factors
# diet = pd.DataFrame(dietary_factors, index=[0])
# # Predict the urine pH level based on the dietary factors
# #urine_ph = knn.predict(diet)[0]
# urine_ph = clf.predict(diet)[0]
# # Print the predicted urine pH level
# print(f"The predicted urine pH level is {urine_ph}")

# Check if the predicted urine pH level is within the recommended range
# if urine_ph >= 6.4 and urine_ph <= 6.8:
#     print("The predicted urine pH level is within the recommended range.")
# else:
#     print("The predicted urine pH level is not within the recommended range.")

In [32]:
import mysql.connector
import pandas as pd

import json

with open('config.json') as f:
    config = json.load(f)


cnx = mysql.connector.connect(user=config['user'],
                              password=config['password'],
                              host=config['host'],
                              database=config['database'])

cursor = cnx.cursor()

# Example query
query = ("SELECT * FROM PH_Temp_Diet")

cursor.execute(query)

# Fetch the rows
rows = cursor.fetchall()

# Create a pandas DataFrame
data = pd.DataFrame(rows, columns=[desc[0] for desc in cursor.description])


cursor.close()
cnx.close()

In [33]:
import pandas as pd

# Load data from your database or CSV file
df3 = data

df3 = df3.drop(['id'], axis=1)

# Pivot the data to create columns for each unique food_name
pivoted_data = df3.pivot_table(index=['person_id', 'date','PH','temperature'], columns='food_name', values='amount')
pivoted_data
# Rename columns to remove the 'food_name' label prefix
pivoted_data.columns.name = None
pivoted_data.columns = pivoted_data.columns.str.replace('food_name_', '')

# # Join the pivoted data with the original data on the 'person_id' and 'date' columns
joined_data = pd.merge(data.drop(columns=['food_name', 'amount','id']), pivoted_data, on=['person_id', 'date','temperature','PH'])

# # Save the joined data to a new CSV file
#df3 = pivoted_data
# Group by 'person_id' and 'date', and aggregate the other columns
grouped_df = joined_data.groupby(['person_id', 'date','temperature','PH'], as_index=False);
joined_data.drop_duplicates()
joined_data.fillna(0)

,PH,temperature,date,person_id,Apple,Apple Pie,Banana,Beer,Braised Potatoes,Bread,...,Tangerines,Tea(black/green),Tequila,The nuts,The vinaigrette,Vegetable salad,Water,Watermelon,White wine,Zucchini Fritters
0,5.4,35.8,2017-09-06,1,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40.0,0.0,0.0,300.0,0.0,0.0,150.0
1,5.4,35.8,2017-09-06,1,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40.0,0.0,0.0,300.0,0.0,0.0,150.0
2,5.4,35.8,2017-09-06,1,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40.0,0.0,0.0,300.0,0.0,0.0,150.0
3,5.4,35.8,2017-09-06,1,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40.0,0.0,0.0,300.0,0.0,0.0,150.0
4,5.4,35.8,2017-09-06,1,0.0,0.0,100.0,0.0,0.0,0.0,...,0.0,0.0,0.0,40.0,0.0,0.0,300.0,0.0,0.0,150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19716,6.0,36.3,2018-04-05,1,0.0,0.0,0.0,0.0,0.0,190.0,...,0.0,250.0,0.0,34.0,0.0,0.0,1350.0,0.0,0.0,0.0
19717,6.0,36.3,2018-04-05,1,0.0,0.0,0.0,0.0,0.0,190.0,...,0.0,250.0,0.0,34.0,0.0,0.0,1350.0,0.0,0.0,0.0
19718,6.0,36.3,2018-04-05,1,0.0,0.0,0.0,0.0,0.0,190.0,...,0.0,250.0,0.0,34.0,0.0,0.0,1350.0,0.0,0.0,0.0
19719,6.0,36.3,2018-04-05,1,0.0,0.0,0.0,0.0,0.0,190.0,...,0.0,250.0,0.0,34.0,0.0,0.0,1350.0,0.0,0.0,0.0
19720,5.4,35.8,2017-09-06,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
from sklearn.model_selection import train_test_split

y = joined_data['PH']
X = joined_data.iloc[:,5:]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.6, random_state=42)
X_test

,Apple Pie,Banana,Beer,Braised Potatoes,Bread,Buckwheat porridge,Bun,Cake,Candies,Cheese,...,Tangerines,Tea(black/green),Tequila,The nuts,The vinaigrette,Vegetable salad,Water,Watermelon,White wine,Zucchini Fritters
18375,0.0,0.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,23.0,...,0.0,0.0,0.0,15.0,0.0,0.0,1400.0,0.0,0.0,0.0
16683,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,189.0,2200.0,0.0,0.0,0.0
14804,0.0,0.0,0.0,0.0,90.0,0.0,0.0,0.0,0.0,0.0,...,0.0,450.0,0.0,20.0,0.0,192.0,1550.0,0.0,0.0,0.0
218,0.0,0.0,0.0,0.0,250.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,60.0,0.0,0.0,0.0,0.0,0.0,50.0
11626,0.0,0.0,0.0,0.0,170.0,0.0,0.0,0.0,26.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1125.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15957,0.0,0.0,0.0,0.0,70.0,0.0,0.0,0.0,13.0,25.0,...,0.0,0.0,0.0,0.0,50.0,0.0,1850.0,0.0,0.0,0.0
10307,0.0,0.0,0.0,0.0,100.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,252.0,0.0,0.0,0.0,0.0
5795,0.0,0.0,0.0,150.0,50.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5491,0.0,0.0,0.0,0.0,200.0,0.0,0.0,0.0,0.0,20.0,...,0.0,0.0,0.0,20.0,0.0,0.0,300.0,0.0,0.0,0.0
16588,0.0,0.0,0.0,0.0,130.0,0.0,50.0,0.0,16.0,0.0,...,0.0,0.0,0.0,0.0,0.0,400.0,1825.0,0.0,0.0,0.0

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
# Train the model
lr = LinearRegression()
lr.fit(X_train, y_train)

# Make predictions on the test set
y_pred = lr.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

# Create a DataFrame with the dietary factors
diet = pd.DataFrame(dietary_factors, index=[0])

# sort the columns alphabetically
diet = diet.sort_index(axis=1)

# print the sorted dataframe
print(diet)

In [ ]:

# Predict the urine pH level based on the dietary factors
#urine_ph = knn.predict(diet)[0]
urine_ph = lr.predict(diet)[0]
# Print the predicted urine pH level
print(f"The predicted urine pH level is {urine_ph}")

# Check if the predicted urine pH level is within the recommended range
# if urine_ph >= 6.4 and urine_ph <= 6.8:
#     print("The predicted urine pH level is within the recommended range.")
# else:
#     print("The predicted urine pH level is not within the recommended range.")

In [ ]:
import joblib
joblib.dump(lr, 'predict_urine.joblib')